
<footer>
    <div class="footer">
        <h4>WanderLust</h4>
        <div class="icons">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.x.com"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="para">
            <p> &#169;WanderLust2024.<a href="#">AllRightsReserved</a></p>
        </div>
    </div>
</footer>