<% layout("/layouts/boilerplate") %>
<div class="allListingsContainer">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <div  class="listings-card mb-3" style="width: 22rem">
            <img src="<%= searchedPlace.image.url %>" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title mt-2 " id="listings-title"><%= searchedPlace.title %></h5>
                    <p class="card-text" id="listing-price">&#8377;<%= searchedPlace.price.toLocaleString("en-IN")%>/ night. </p>
                    <a href="/listings/<%= searchedPlace._id %>/show" class="btn btn-primary">View Listing</a>
                  </div>
        </div>
    </div>
</div>